<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>m2-1.png</key>
		<dict>
			<key>x</key>
			<integer>160</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>103</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>140</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>m2-2.png</key>
		<dict>
			<key>x</key>
			<integer>80</integer>
			<key>y</key>
			<integer>105</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>103</integer>
			<key>offsetX</key>
			<real>-4</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>140</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>m2-3.png</key>
		<dict>
			<key>x</key>
			<integer>80</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>103</integer>
			<key>offsetX</key>
			<real>-3.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>140</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>m2-4.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>105</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>103</integer>
			<key>offsetX</key>
			<real>-4</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>140</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>m2-5.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>103</integer>
			<key>offsetX</key>
			<real>-4</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>140</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
	</dict>
</dict>
</plist>